{% extends 'base.html.twig' %}

{% block title %}Velvet Records | {{ "#{record.artistid.artistname}: #{record.recordtitle}" }}{% endblock %}

{% block body %}
  <div class="container mt-4">
    <div class="row">
      <h1 class="display-4"><strong>{{record.artistid.artistname}}</strong>: {{record.recordtitle}}</h1>
    </div>
    <div class="row">
      <div class="col-md-4 d-flex flex-row align-self-start mb-1 mr-2 p-0">
        <div class="mb-auto">
          <img class="img-fluid img-thumbnail p-1"
               src="/img/{{ record.recordpicture }}"
               width="400"
          >
        </div>
      </div>
      <div class="col-md-5 d-flex flex-column ml-3 mr-1 p-1">
        <div class="small">
          <b>Year:</b> {{ record.recordyear }}<br>
          <b>Label:</b> {{ record.recordlabel }}<br>
          <b>Genre: </b>{{ record.recordgenre }}<br><br>
          Track list:<br>
          {% set count = 1 %}
          {% set ignore = false %}
          {% for song in record.songs %}
            <div>
              {% if count > 20 and not ignore %}
                ...
                {% set ignore = true %}
              {% elseif not ignore %}
                <b>{{song.songtitle}}</b>
                {% set count = count + 1 %}
              {% endif %}
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col">
        <a href="http://localhost:8000/record/{{ record.recordid }}/edit"><button type="button" class="btn btn-success btn-sm">Edit</button></a>
        <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#deleteModal">Delete</button>
        <button type="button" class="btn btn-primary btn-sm" onclick="history.back()" >Back</button>
      </div>
    </div>
  </div>
  <!-- Modal -->
  <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Delete album</h5>
        </div>
        <div class="modal-body">
          <p>
            Are you sure you want to delete this album?
          </p>
        </div>
        <div class="modal-footer">
          <a href="http://localhost:8000/record/{{ record.recordid }}/delete"><button type="button" class="btn btn-danger btn-sm">Delete</button></a>
          <button type="button" class="btn btn-primary btn-sm" data-bs-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </div>
  <!-- End Modal -->
{% endblock %}
