{% extends 'base.html.twig' %}

{% block title %}{{ "#{record.artistid.artistname}: #{record.recordtitle}" }}{% endblock %}

{% block body %}
  <div class="container mt-4">
    <div class="row">
      <h1 class="display-4"><b>{{ "#{record.artistid.artistname}: #{record.recordtitle}" }}</b></h1>
    </div>
    <div class="row">
      <div class="col-md-4 d-flex flex-row align-self-start mb-1 mr-2 p-0">
        <div class="mb-auto">
          <img class="img-fluid img-thumbnail p-1"
               src="/img/{{ record.recordpicture }}"
          >
        </div>
      </div>
      <div class="col-md-5 d-flex flex-column ml-3 mr-1 p-1">
        <div class="small">
          <b>Year:</b> {{ record.recordyear }}<br>
          <b>Label:</b> {{ record.recordlabel }}<br>
          <b>Genre: </b>{{ record.recordgenre }}<br><br>
          <b>Track list:</b>
          <table class="table table-hover table-sm">
            <tbody>
            {% set songs = [] %}
            {% for song in record.songs %}
              <tr><td>{{song.songtitle}}</td></tr>
              {% set songs = songs|merge([song.songtitle]) %}
            {% endfor %}
            </tbody>
          </table>
        </div>
        {#}        <div class="mt-auto pb-2">
          <a href="#">
            <button class="btn btn-primary btn-sm">Add songs</button>
            <t class="form-control control-sm" type="textarea" value="">
          </a>
        </div>
      </div>
    </div> #}
    <div class="row mt-2">
      <div class="col">
        <button class="btn btn-primary btn-sm" onclick="history.back()" >Back</button>
        </div>
    </div>
  </div>
{% endblock %}
