{% extends 'base.html.twig' %}

{% block title %}Velvet Records | Edit Record{% endblock %}

{% block body %}
  <div class="container mt-4">
    <div class="row align-items-center">
      <div class="col-md-8">
        <h1><b>Edit Record</b></h1>
      </div>
      <div class="col text-right">
        <button class="btn btn-primary btn-sm" onclick="history.back()">Back</button>
      </div>
      <div class="mb-2">
      {% form_theme form 'foundation_5_layout.html.twig' %}
      {{ form_start(form) }}
      <img class="img-fluid img-thumbnail" src="/img/{{ picture }}"width="200"><br>
        {{ form_label(form.record_title, 'Title', {
          'label_attr': {
            'class': 'col-form-label-sm',
          }
        }) }}
        {{ form_widget(form.record_title, {
          'attr': {
            'class': 'form-control form-control-sm',
          }
        }) }}

        {{ form_label(form.artist_id, 'Artist', {
          'label_attr': {
            'class': 'col-form-label-sm',
          }
        }) }}
        {{ form_widget(form.artist_id, {
          'attr': {
            'class': 'form-select form-select-sm',
          }
        }) }}
        {{ form_label(form.record_year, 'Year', {
          'label_attr': {
            'class': 'col-form-label-sm',
          }
        }) }}
        {{ form_widget(form.record_year, {
          'attr': {
            'class': 'form-control form-control-sm',
            'pattern': '^[0-9]{4}',
          }
        }) }}
        {{ form_label(form.record_label, 'Label', {
          'label_attr': {
            'class': 'col-form-label-sm',
          }
        }) }}
        {{ form_widget(form.record_label, {
          'attr': {
            'class': 'form-control form-control-sm',
           }
        }) }}
        {{ form_label(form.record_genre, 'Genre', {
          'label_attr': {
            'class': 'col-form-label-sm',
          }
        }) }}
        {{ form_widget(form.record_genre, {
          'attr': {
            'class': 'form-control form-control-sm',
           }
        }) }}
        {{ form_label(form.record_price, 'Price', {
          'label_attr' : {
            'class': 'col-form-label-sm',
          }
        }) }}
        {{ form_widget(form.record_price, {
          'attr': {
            'class': 'form-control form-control-sm',
          }
        }) }}
        {# }{{ form_label(form.record_picture, 'Picture', {
          'label_attr': {
            'class': 'col-form-label-sm',
          }
          }) }} #}
        {{ form_row(form.record_picture, {
          'label_attr': {
            'class': 'col-form-label-sm',
            'value': 'Picture',
          },
          'attr': {
            'class': 'form-control form-control-sm',
            'onchange': 'updatePicture()',
          }
        }) }}
      </div>
      <div class="d-flex flex-row">
        <div class="m-1">
          {{ form_row(form.submit, {
            'attr': {
              'class': 'btn btn-danger btn-sm',
            }
          }
          ) }}
        </div>
        <div class="m-1">
          {{ form_row(form.cancel, {
            'attr': {
              'class': 'btn btn-secondary btn-sm',
            }
          }
          ) }}
        </div>
      </div>
    </div> 
  </div>
  <script src="/js/script.js"></script>
{% endblock %}
