{% extends 'base.html.twig' %}

{% block title %}Velvet Records - Artists{% endblock %}

{% block body %}
  <div class="container mt-4">
    {% for notification in app.flashes('notify-error') %}
      <div class="alert alert-danger">
        {{ notification }}
      </div>
    {% endfor %}
    {% for notification in app.flashes('notify') %}
      <div class="alert alert-success">
        {{ notification }}
      </div>
    {% endfor %}
    <div class="row mb-2 align-items-center">
      <div class="col-md-8">
        <h1 class="display-4"><b>Artists</b> ({{ artists|length }})</h1>
      </div>
      <div class="col-md-2 text-right">
        <a href="http://localhost:8000/add/artist">
          <button class="btn btn-danger btn-sm">Add Artist</button>
        </a>
      </div>
    </div>
    {% set c = 1 %}
    {% for artist in artists %}
      {% if (c == 1) %}
        <div class="row">
      {% endif %}
          <div class="col-lg-4 mb-2">
            <div class="small"><b>{{ artist.artistname }}</b></div>
            <a href="http://localhost:8000/artist/{{ artist.artistid }}">
              <img class="img img-thumbnail" src="/img/{{ artist.artistimg }}" width="100">
            </a>
          </div>
      {% if (c == 3) %}
        </div>
        {% set c = 1 %}
      {% else %}
        {% set c = c + 1 %}
      {% endif %}
    {% endfor %}
  </div>
{% endblock %}
