{% extends 'base.html.twig' %}

{% block title %}Velvet Record | Records{% endblock %}

{% block body %}
  <div class="container mt-4"> 
    {% for notification in app.flashes('notify-error') %}
      <div class="alert alert-danger">
        {{ notification }}
      </div>
    {% endfor %}
    {% for notification in app.flashes('notify') %}
      <div class="alert alert-success">
        {{ notification }}
      </div>
    {% endfor %}
    <div class="row mb-2 align-items-center">
      <div class="col-md-8">
        <h1 class="display-4"><b>Records</b> ({{ records|length }})</h1>
      </div>
      <div class="col-md-2 text-right">
        <a href="http://localhost:8000/add/record">
          <button class="btn btn-danger btn-sm">Add Record</button>
        </a>
      </div>
    </div>
    {% set c = 1 %}
    {% for record in records %}
      {% if (c == 1) %}
        <div class="row">
      {% endif %}
      <div class="col-md-2 d-flex flex-row align-self-center mb-1 p-0">
        <div class="mb-auto">
          <a href="http://localhost:8000/record/{{ record.recordid }}">
            <img class="img-fluid p-1"
                 alt="cover picture of {{ "#{record.artistid.artistname} - #{record.recordtitle}" }}"
                 src="img/{{ record.recordpicture }}"
                 title="{{ "#{record.artistid.artistname}: #{record.recordtitle}" }}"
            >
          </a>
        </div>
      </div>
      <div class="col-md-3 d-flex flex-column ml-2 mr-1 p-0">
        <b>{{ record.recordtitle }}</b>
        <div class="small">
          <a href="http://localhost:8000/artist/{{ record.artistid.artistid }}"><b>{{ record.artistid.artistname }}</b></a><br>
          <b>Label: </b> {{ record.recordlabel }}<br>
          <b>Year: </b> {{ record.recordyear }}<br>
          <b>Genre: </b> {{ record.recordgenre }}<br>
        </div>
        <div class="mt-auto pb-2">
          <a href="http://localhost:8000/record/{{ record.recordid }}">
            <button type="button" class="btn btn-primary btn-sm">Details</button>
          </a>
        </div>
      </div>
      {% if (c == 2) %}
        </div>
        {% set c = 1 %}
      {% else %}
        {% set c = c + 1 %}
      {% endif %}
    {% endfor %}
  </div>
{% endblock %}
