{% extends 'base.html.twig' %}

{% block title %}Velvet Record - Records{% endblock %}

{% block body %}
  <div class="container mt-4"> 
    <div class="row mb-2">
      <h1 class="display-4"><b>Records</b> ({{ records|length }})</h1>
    </div>
    {% set c = 1 %}
    {% for record in records %}
      {% if (c == 1) %}
        <div class="row">
      {% endif %}
      <div class="col-md-2 d-flex flex-row align-self-center mb-1 p-0">
        <div class="mb-auto">
          <a href="http://localhost:8000/record/{{ record.recordid }}">
            <img class="img-fluid p-1"
                 alt="cover picture of {{ "#{record.artistid.artistname} - #{record.recordtitle}" }}"
                 src="img/{{ record.recordpicture }}"
                 title="{{ "#{record.artistid.artistname}: #{record.recordtitle}" }}"
            >
          </a>
        </div>
      </div>
      <div class="col-md-3 d-flex flex-column ml-2 mr-1 p-0">
        <b>{{ record.recordtitle }}</b>
        <div class="small">
          <b>{{ record.artistid.artistname }}</b><br>
          <b>Label: </b> {{ record.recordlabel }}<br>
          <b>Year: </b> {{ record.recordyear }}<br>
          <b>Genre: </b> {{ record.recordgenre }}<br>
        </div>
        <div class="mt-auto pb-2">
          <a href="http://localhost:8000/record/{{ record.recordid }}">
            <button class="btn btn-primary btn-sm">Details</button>
          </a>
        </div>
      </div>
      {% if (c == 2) %}
        </div>
        {% set c = 1 %}
      {% else %}
        {% set c = c + 1 %}
      {% endif %}
    {% endfor %}
  </div>
{% endblock %}
