{% extends 'base.html.twig' %}

{% block title %}{{ artist.artistname }}{% endblock %}

{% block body %}
  <div class="container mt-4">
    <div class="row">
      <h1 class="display-4"><b>{{ artist.artistname }} ({{ artist.records|length }})</b></h1>
    </div>
    <div class="row">
      <div class="col-md-4 d-flex flex-row align-self-center m-1 p-1">
        <img class="img-fluid img-thumbnail"
             src="/img/{{ artist.artistimg }}"
             width="400"
        >
      </div>
      {% set c = 1 %}
      {% for record in artist.records %}
        {% if (c == 1) %}
        <div class="col-md-2 d-flex flex-column m-1 p-0">
        {% endif %}
          <a href="http://localhost:8000/record/{{ record.recordid }}">
            <img class="img-fluid p-1 m-0"
                 src="/img/{{ record.recordpicture }}"
                 width="200"
                 title="{{ "#{ record.recordtitle } (#{ record.recordyear })" }}"
            >
          </a>
        {% if (c == 2) %}
        </div>
          {% set c = 1 %}
        {% else %}
          {% set c = c + 1 %}
        {% endif %}
      {% endfor %}
    </div>
    <div class="row mt-2">
      <div class="col">
        <button class="btn btn-primary btn-sm" onclick="history.back()" >Back</button>
        </div>
    </div>
  </div>
{% endblock %}
